<?js
var data = obj || {};
if (data.description) {
?>

<?js if (data.type && data.type.names) {?>
  <h5><?js= this.partial('type.tmpl', data.type.names) ?></h5>
<?js } ?>

<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

